<%# app/views/admin/lastfm/_top_table.html.erb %>
<%= turbo_frame_tag "#{@category}-#{@period}-frame" do %>
  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 rounded-lg">
    <table class="min-w-full divide-y divide-gray-300 table-fixed">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 px-2 text-left text-sm font-semibold text-gray-900 w-10">
            #
          </th>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
            Artist
          </th>
          <% if @category != 'artist' %>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
              <%= @category.capitalize %>
            </th>
          <% end %>
          <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 w-16">
            Plays
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% if @top_scrobbles.any? %>
          <% @top_scrobbles.each do |scrobble| %>
            <tr class="hover:bg-gray-50">
              <td class="py-4 px-2 text-sm text-gray-500 whitespace-nowrap">
                <%= scrobble.position %>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <% if scrobble.url.present? %>
                  <%= link_to scrobble.artist, scrobble.url, 
                              target: "_blank", 
                              rel: "noopener",
                              class: "text-indigo-600 hover:text-indigo-900" %>
                <% else %>
                  <%= scrobble.artist %>
                <% end %>
              </td>
              <% if @category != 'artist' %>
                <td class="px-3 py-4 text-sm text-gray-500">
                  <%= scrobble.name %>
                </td>
              <% end %>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%= number_with_delimiter(scrobble.plays) %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="<%= @category == 'artist' ? 3 : 4 %>" class="px-6 py-12 text-center text-sm text-gray-500">
              No data available for this period.
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
