<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title><%= content_for(:title) || "curt.beery.co" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>
    <!-- Inter font -->
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  </head>

  <body class="h-full">
    <div class="min-h-full">

      <%= render partial: 'shared/header/header' %>
      <%= render partial: 'shared/nav/nav' %>
      <%= render partial: 'shared/flash' %>

      <!-- Main content wrapped in card -->
      <main>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="overflow-hidden bg-white shadow-xs sm:rounded-xl">
            <div class="px-4 py-5 sm:p-6">
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
    </div>

    <%= render partial: 'shared/nav/nav_js', locals: {nav_trigger_id: 'nav-trigger', nav_overlay_id: 'nav-overlay', nav_close_id: 'nav-close'} %>

  </body>
</html>